<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb<p>

<p>Question</p>
<p><%= @query %> <p>

<p>Reponse du coach</p>
<p><%= @reponse %></p>

<%= link_to "Reposer une question", ask_path %>
